{{ $email := promptString "Email" -}}
{{ $conf := env "XDG_CONFIG_HOME" | default (print .chezmoi.homeDir "/.config") -}}

encryption = "age"

[age]
identity = "{{ $conf }}/age/chezmoi.txt"
recipient = "age1vcp9a6rnmv9njl4jdadvf2f9j9ynynpmrr99a3fyxr7rxgvxnylqdkeqpz"

[data]
email = {{ $email | quote }}
