{{ $email := promptString "Email" -}}
{{ $pathsep := eq .chezmoi.os "windows" | ternary `\\` "/" -}}
{{ $confdir := list .chezmoi.homeDir ".config" | join $pathsep -}}

encryption = "age"

[age]
identity = "{{ .xdg_base.config }}/age/chezmoi.txt"
recipient = "age1vcp9a6rnmv9njl4jdadvf2f9j9ynynpmrr99a3fyxr7rxgvxnylqdkeqpz"

[data]
email = {{ $email | quote }}
git_email = "mrfiregem@protonmail.ch"
pathsep = {{$pathsep | squote }}

[data.xdg_base]
config = {{ $confdir | squote }}
data = {{ list .chezmoi.homeDir ".local" "share" | join $pathsep | squote }}
state = {{ list .chezmoi.homeDir ".local" "state" | join $pathsep | squote }}
cache = {{ list .chezmoi.homeDir ".cache" | join $pathsep | squote }}
