[user]
  name = Firegem
  email = {{ .git_email }}
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = master
[credential "https://github.com"]
  helper = !gh auth git-credential
[credential]
  helper = cache --timeout=3600
[pull]
  rebase = false
